
#game li {
  float: left;
  padding: 10px;
  list-style: none;
  text-align: center;
  margin: 20px;
  color: #fff;
  height: 60px;
  line-height: 40px;
  font-size: 40px;
  color: #ccc;
  border: 2px solid black;
  width: 50px;
}

#game {
  float:left; padding:0; clear:both
}

#row_2 {
  border-style: solid
  border-width: 4px;
}
